*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: black;
}

.content{
    background-image: url('../Images/netflix-system-design-cover.jpg');
    position:relative;
    height: fit-content;
    width: 100vw;
    box-shadow: inset 0px 20px 20px black;
    overflow-y: hidden;
}

.content::after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: calc(0.5);
}

.top{
    display:flex;
    width: 100%;
}

.ele-top{
    display:flex;
    width:100%;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0.5rem;
    z-index: 2;
}

.logo{
    display: flex;
    margin-right: auto;
}

.logo img{
    width: 12rem;
}




.footer{
    height: 55%;
    display: flex;
    flex-direction: column;
    background-color: black;
    opacity: calc(0.75); 
    margin-top: 10%;
    margin-bottom: 0;

}

.footcontent{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 5%;
    padding-left: 5%;
    
}
.footcontent h3{
    color: white;
    font-weight: 300;
    font-size: 1rem;
    
}

.foot-links{
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
}

.fc{
    margin-right: 10%;
    white-space: nowrap;

}
.fc li{
    padding: 5%;
}
.fc a{
 color: white;   
 font-weight: 200;
}

#endlang{
    margin-bottom: 3%;
    margin-left: 0;

}

.mid{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.block{
    display: flex;
    flex-direction: column;
    min-width: 30rem;
    background-color: black;
    /* opacity: calc(0.8); */
    z-index: 5;
}

.block-content{
    margin: 5rem;
}
.block-head{
    margin-bottom: 2rem ;
}
.block-head h2{
    color: white;
    font-size: 2rem;
}

label{
    color: white;
    position: absolute;
    transform: translatex(25px);
}

.float-container h3{
    color: black;
    opacity: calc(0.6);
    position: absolute;
    transform: translate(5rem,1rem);
    
}

.float-container{
    position: relative;
    opacity: calc(0.7);
    margin-top: 1rem;    
}
.float-container input{
    width: 20rem;
    height: 3rem;
    z-index: -1;
}

/* .button{
    margin-top: 3rem;
}

.button a{
    padding : 1rem 8.5rem;
    white-space: nowrap;
    background-color: rgb(232,12,20);
    text-decoration: none;
    text-align: center;
    color: white;   
    font-size: 20px; 
    border-radius: 3px;
    font-size: 1rem;
    
} */

.button{
    margin-top: 3rem;
    background-color: rgb(232,12,20);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button a{
    padding: 1rem 8.5rem;
    text-decoration: none;
    color: white;
    font-size: 1rem ;
    border-radius: 3px;
}

.remember{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.remember h4{
    color: white;
}


.below{
    margin-top: 2rem;
}

.below h4{
    color:white;
    font-weight: 300 ;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 750px) {
    
    .content{
        background-image: none;
    }

    .mid{
    padding: 0 5%;
    }
    .block{
        width: 100%;
    }
    .block-content{
        margin: 5%;
    }

    .float-container h3{
        transform: translate(0.5rem,1rem);
        
    }
    .float-container input{
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .block-content{
        padding: 0 10%;
    }

    .logo img{
        width: 8rem;
    }
    /* .float-container input{
        width: 90%;
    }
    .button{
        width: 90%;
    } */
    .block-head{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}



@media screen and (max-width: 375px) {
    
    .block-content{
        padding: 0 15%;
    }
    .button a{
        padding: 0.5rem 7rem;
    }
}